doctype html
html
  head
    title Sun Data Cache
    link(rel="stylesheet", href="/style.css")
  body
    h1 Gecachte Zondata
    p Totaal aantal metingen: #{count}
    
    table
      thead
        tr
          th Datum/Tijd
          th Intensiteit
          th Hoogte (alt)
      tbody
        each entry in sunData
          tr
            td= new Date(entry.dateTime).toLocaleString('nl-BE')
            td #{entry.intensity}%
            td= entry.altitude.toFixed(4)
    
    footer
      p: a(href="/api/sun") Terug naar Sun API