#MongoDB connection
MONGODB_URI=mongodb://localhost:27017/terras

#Weather API
OPENMETEO_URL=https://api.open-meteo.com/v1/forecast

#Overpass API (OpenStreetMap)
OVERPASS_URL=https://overpass-api.de/api/interpreter

PORT=27017
