#MongoDB connection
MONGODB_URI=mongodb://localhost:27017/terras

#Weather API
OPENMETEO_URL=https://api.open-meteo.com/v1/forecast

#Overpass API (OpenStreetMap)
OVERPASS_URL=https://overpass-api.de/api/interpreter

#Stad Gent Open Data API (evenementen)
STADGENT_EVENTS_URL=https://data.stad.gent/api/explore/v2.1/catalog/datasets/toeristische-evenementen-visit-gent/records

PORT=3000
