#MongoDB connection
MONGODB_URI=mongodb://localhost:27017/terras

#Weather API
OPENMETEO_URL=https://api.open-meteo.com/v1/forecast

#Overpass API (OpenStreetMap)
OVERPASS_URL=https://overpass-api.de/api/interpreter

#Stad Gent Open Data API (evenementen)
STADGENT_EVENTS_URL=https://data.stad.gent/api/explore/v2.1/catalog/datasets/toeristische-evenementen-visit-gent/records

#SPARQL endpoint for linked data queries stad gent
SPARQL_STAD_GENT_ENDPOINT = "https://stad.gent/sparql";

QLEVER_OSM_ENDPOINT = "https://qlever.dev/api/osm-planet";

PORT=3000

# Gent 3D tile downloader — directory where DWG ZIP files are saved
GENT3D_DOWNLOAD_DIR=./data/gent3d
