extends layout

block content
  h2 Welkom bij de Sun-Seeker Gent API
  p De server is succesvol opgestart. Je kunt nu beginnen met het bouwen van je eigen views en logica.
  a(href="/api") Bekijk de API status
