doctype html
html(lang="nl")
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Sun-Seeker Gent
    main
      block content
    footer
      p &copy; 2026 Sun-Seeker Gent
