doctype html
html(lang="nl")
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Sun-Seeker Gent

      nav
        ul(style="display: flex; gap: 15px; list-style: none; padding: 0;")
          li: a(href="/api/terrasen") Terrassen
          li: a(href="/api/restaurants") Restaurants
          li: a(href="/api/events") Events

    main
      block content
    footer
      p &copy; 2026 Sun-Seeker Gent
